@page "/"

@inherits GameBase

<PageTitle>CrowSquares Game</PageTitle>

<MudDropContainer
    @ref="DropContainer"
    T="DropItem" 
    Items="Items"
    CanDrop="@( (item, identifier ) => CanDrop(item, identifier))"
    ItemsSelector="@((item, dropZone) => item.Zone == dropZone)"
    ItemIsDisabled="@( item => !item.Zone.Contains("gutter", StringComparison.Ordinal))"
    ItemDropped="ItemUpdated"
    @ondragend="OnDragEnd"
>
    <ChildContent>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="8" >
                
                    @for (var r = 0; r < 9; r++)
                    {
                        var row = r.ToString();
                        <MudGrid Style="@(RowStyle)" Spacing="0" Justify="Justify.Center">
                            @for (var c = 0; c < 9; c++)
                            {
                                var coords = $"{row}{c.ToString()}";
                                <MudItem xs="1">
                                    <div  
                                        @ondragenter="@(() => OnDragEnter(coords))"
                                        @ondragleave="@(() => OnDragLeaveGrid(coords))">
                                        <MudDropZone
                                            Style="@("aspect-ratio: 1/1;")"
                                            @ref="@(Grid[coords])"
                                            T="DropItem"
                                            Identifier="@(coords)"
                                            DraggingClass="mud-theme-success"
                                            Class="d-flex justify-center align-center border-2 border-solid docs-gray-bg mud-border-lines-default">
                                        </MudDropZone>
                                    </div>
                                </MudItem>
                            }
                        </MudGrid>
                    }
                
            </MudItem>
        </MudGrid>
        
        <MudGrid Justify="Justify.Center">
            <MudItem xs="3">
                <MudDropZone 
                    T="DropItem"
                    Identifier="gutter0"
                >
                </MudDropZone>
            </MudItem>
            <MudItem xs="3">
                <MudDropZone 
                    T="DropItem"
                    Identifier="gutter1"
                >
                </MudDropZone>
            </MudItem>
            <MudItem xs="3">
                <MudDropZone
                    T="DropItem"
                    Identifier="gutter2"
                >
                </MudDropZone>
            </MudItem>
        </MudGrid>
    </ChildContent>
    <ItemRenderer>
        <div class="d-flex justify-center align-center flex-grow-1">
            <MudIcon Icon="@context.Icon" Color="@context.Color" Size="Size.Large" />
        </div>
    </ItemRenderer>
</MudDropContainer>

<MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary" OnClick="GenerateShapes">New Shapes</MudButton>

<MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Error" OnClick="ClearGrid">Clear Grid</MudButton>
